
.frm{
	margin-left:20%;
	margin-top:2%;
	
}
.frm input{
border:2px double grey;
width:60vw;
background:Moccasin;
border-radius:8px;
box-shadow:5px 5px 3px black;
font-size:20px;
color:white;
}
.stream select{
background:Gainsboro;
box-shadow:2px 2px 5px black;
margin:0 0 0 10%;
float:left;
font-size:15px;
border-radius:5px;
font-family:cursive;
padding:5px 5px 5px 5px;
}
.year select{
font-size:15px;
border-radius:5px;
background:Gainsboro;
font-family:cursive;
float:right;
margin:0 35% 0 0;
box-shadow:2px 2px 5px black;
padding:5px 15px 5px 15px;
}
.foot{
	margin-left:35vw;
	margin-top:1%;
	font-family:tahoma serif;
	font-weight: bold;
	color:Gainsboro;
	text-shadow:2px 2px 5px black;
}
.slider img{
border:2px double #20B2AA;
box-shadow:10px 5px 10px #20B2AA;
opacity:0.8;
width:100%;
height:90vh;
}
.ifsuccess{
        margin-left:450px;
	margin-top:50px;
	font-family:tahoma;
	font-weight: bold;
}

button{
margin-left:25vw;
border:2px double grey;
padding:10px 20px 10px 20px;
color:black;
background:Gainsboro;
font-size:20px;
border-radius:5px;
font-family:cursive;
box-shadow:5px 5px 3px black;
}
i{
position:absolute;
}
a:visited i{
top:0;
display:none;
}
a:hover button{
opacity:0.8;
font-size:26px;
}
a:hover input{
opacity:0.8;
font-size:24px;
}
a:hover select{
opacity:0.8;
font-size:17px;
}
.list-group-item{
	text-decoration:none;
	color: white;
	font-style:italic;
	padding:30px;
}
.footer{
	width:100%;
	height:120px;
    background-color:darkcyan;
	border: 2px solid rgb(155, 239, 235);
	border-radius:10px;
	margin-top:200px;
	margin-bottom:10px;
	color:white;
	clear:both;
	padding-top:20px;
	font-family:tahoma;
	font-size: 15px;
	text-align: center;
}
.footer ul  {
	width: 450px;
	padding: 10px;
	list-style-type: none;
	background-color: rgba(0,0,0,0.3);
	margin:10px;
	margin-left:450px;
	margin-top:20px;
	height:18px;
}
.footer ul li {
	display:inline-block;
}
.footer ul li a {
	text-decoration: none;
	font-family:tahoma;
	color: white;
	padding:10px;
	font-size:15px;
}
.footer ul li :hover {
	color:black;
	background-color: darkcyan;
	cursor:pointer;
}