

<body  ng-controller="handlingCrtl">
   <div class="login-form">
      <div class="face">
	  <img src="assets/images/login.png">
	  </div>
  
       <input type="text" name="username" placeholder=" Enter your Username" required/ autocomplete="on" ng-model="username"><br><br>
       <input type="password" name="password" ng-model="password" placeholder=" Enter your password" required/><br><br>
	   <a  id="forgot" href="#" >Forgot Password ?</a><br><br>
	   <p class="error-msg">Wrong Credentials</p>
	   <button class="btn btn-info" ng-click="login(username,password)">Login</button>
     	   
   </div>
<div id="my-signin2" align="center" data-width="300" data-height="200"></div>
</body>



