
<html>
<head>
<title>
SIGN UP!
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="assets/CSS/signup.css" type="text/css">
<script src="/assets/javascripts/jquery.min.js"></script>
<script src="assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/angular.min.js" type="text/javascript"></script>
<script src="/assets/javascripts/angular-ui-router.min.js"></script>
<script src="/assets/javascripts/angular-route.min.js" type="text/javascript"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/assets/javascripts/HandleHtml.js" type="text/javascript"></script>
</head>
<body ng-app="handlingApp" ng-controller="handlingCrtl">
   <div class="login-form">
       <div class="face">
	     <img src="assets/images/login.png">
	   </div>
  
     <div id=uname>
       <input type="text" name="username" value="" ng-model="username"placeholder=" My Username" required/><br><br></div>
     <div id=email>
	   <input type="email" name="Email" ng-model="emailId" placeholder="Enter Your Email ID" required/><br><br></div>
       <input type="password" name="pass" ng-model="password" placeholder=" Enter your password" required/><br><br>
	   <input type="password" name="cpass" ng-model="cpassword" placeholder=" Confirm Your Password" required/><br><br>
	 
	   
	   <button class="btn btn-success" ng-click="signup()">REGISTER</button>
	   
     
  </div>
  <div class="container">
  <div class="alert alert-success alert-dismissible" ng-show="success">
  
    <strong>Success!</strong> WELCOME TO NOTESPOT! WAIT A SEC WE ARE REDIRECTING YOU
  </div>
   <div class="alert alert-danger alert-dismissible" ng-show="error" >
    
    <strong>Error!</strong> SOMETHING WENT WRONG! PLEASE TRY AGAIN
  </div>
</div>
  
</body>
</html>
