<!DOCTYPE html>
<html>
<head>
<title>
JIMS Engineering and Management Technical Campus
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="icon" href="http://www.admissionjankari.com/image.axd?College=JIMS%20Engineering%20Management%20Technical%20Campus.png" type="image/x-icon">
<link href="bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/CSS/style3.css" rel="stylesheet" type="text/css">

<script src="http://code.angularjs.org/1.2.13/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<script src=/assets/javascripts/HandleHtml.js type="text/javascript"></script>

</head>
<body ng-app="handlingApp" ng-controller="handlingCrtl">

      <header>
	    <div class="row">
         <div class="logo">
          <img src="http://jimsgn.org/images/jims-gn-logo.png">
		 </div>
		 <ul class="main_nav">
		  
			<li> <a ui-sref="about">{{test}}</a></li>
			<li> <a ui-sref="contact">CONTACTjnjnj</a></li>
			<li> <a ui-sref="gallery">GALLERY</a>	
		 </ul>
		</div>
	   <div class="hero">
	    <div class="button">
		<a ui-sref="login" class="btn btn-half">Login</a>
		<a ui-sref="signup" class="btn btn-full">Sign Up</a>
		</div>
		</div>
</header>

<section class="features">
<h3 align="center" style="color:yellow;"> JIMS ENGINEERING AND MANAGEMENT TECHNICAL CAMPUS<br>YOUR FUTURE,OUR FOCUS</h3></section>
<p class="copy">

JIMS has state of art campuses that are prominently spread at eight prime locations in Delhi and NCR.
Each successive year brings a new set of opportunities and by meeting those, JIMS continues to grow and
improve. JIMS Engineering Management Technical Campus at Greater Noida is one of the Best Engineering 
Colleges at Greater Noida as well as in entire Delhi & NCR. It has well-developed campus at 6 acres of 
land with all modern facilities and amenities. The campus life is congenial, harmonious & offers opportunities
to the students to pursue education and research / consultancy activities besides other co & extra-curricular activities.

</p>

<div class="container">
    <div class="box1">
      <span class="icon"><i class="fa fa-university"></i></span>
	  <div class = "heading">
      <h4 align="center" style="color:yellow; font-weight:bold;"> Campus Updates</h4>
	  </div>
       <p class="arrange"><marquee DIRECTION="UP">
	
    * SEMINAR 04-11-2016<br>Seminar on Gender Justice organised by JEMTEC,School of Law.<br>
	* NSS Activity 16-04-2016<br>NSS camp was organized for B.Tech. Ist year students and various activities were conducted.<br>
    * Alumni Sports Meet 15-11-2015 <br>JIMS Alumni Sports Meet is Organised on 15th November 10 AM Onwards at Jasola Sports Complex, New Delhi.
   
   </marquee>
   </p>
   </div>
	<div class="box2">
      <span class="icon"><i class="fa fa-globe"></i></span>
	  <div class="heading">
      <h4 style="color:yellow; font-weight:bold;">Upcoming Events</h4>
	  </div>
      <p class="arrange">
  
     National Conference 12-11-2016<br>National Conference On Technical Perspectives on Smart City Development.<br>
     Performance by BADSHAH<br>
     JIMS 25-11-2016<br> In association with ROTARY District 3012 & Rotary Club of Delhi Nirvana is organizing an event for charity at Tyagraj Stadium.
      </p>
    </div>
	<div class="box3">
      <span class="icon"> <i class="fa fa-trophy"></i></span>
	  <div class="heading">
      <h4  style="color:yellow; font-weight:bold;">Awards and Achievements</h4>
	  </div>
       <p class="arrange"><marquee DIRECTION="UP">
	
    * JIMS Scaling New HeightsStudents of BBA-IV Sem<br>
    * Simran Jhandai and Hammad Ali, stood IInd in the "Inter Campus Case Study Competition" being organized at the JIMS-VK Campus.<br>
    * Ranked as 14th Best B School in North India By Times B school survey.JIMS Kalkaji, New Delhi-Scaling New HEIGHTS.
   
    </marquee>
    </p>
	
  </div>
 </div>
 </section>
 <div ui-view></div>
 <!-- 
 <section class="gallery">
   <ul class="pics-showcase">
     <li>
	   <figure class="pics">
	     <img src="http://www.jimsd.org/resources/pics/fests/kshitij/kshitij6.jpg">
	   </figure>
	 </li>
	 <li>
	   <figure class="pics">
	     <img src="http://www.jimsd.org/resources/pics/fests/kshitij/kshitij6.jpg">
	   </figure>
	 </li>
	 <li>
	   <figure class="pics">
	     <img src="http://www.jimsd.org/resources/pics/fests/kshitij/kshitij6.jpg">
	   </figure>
	 </li>
	 <li>
	   <figure class="pics">
	     <img src="http://www.jimsd.org/resources/pics/fests/kshitij/kshitij6.jpg">
	   </figure>
	 </li>
	 <li>
	   <figure class="pics">
	     <img src="http://www.jimsd.org/resources/pics/fests/kshitij/kshitij6.jpg">
	   </figure>
	 </li>
	 <li>
	   <figure class="pics">
	     <img src="http://www.jimsd.org/resources/pics/fests/kshitij/kshitij6.jpg">
	   </figure>
	 </li>
	  <li>
	   <figure class="pics">
	     <img src="http://www.jimsd.org/resources/pics/fests/kshitij/kshitij6.jpg">
	   </figure>
	 </li>
	  <li>
	   <figure class="pics">
	     <img src="http://www.jimsd.org/resources/pics/fests/kshitij/kshitij6.jpg">
	   </figure>
	 </li>
	 </ul>
	</section>
	 -->
	<div class="footer">
         <ul>
		  <li> <a ui-sref="about">{{test}}</a></li>
			<li> <a ui-sref="contact">CONTACT</a></li>
			<li> <a ui-sref="gallery">GALLERY</a>	
		 </ul>
	www.jimsgn.org © JIMS Gretaer Noida
	</div>
</div>
</body>
</html>
